.flex
{
	display: flex;
	justify-content: space-between;
	border: solid;
	font-size: 40px;
}
.flex2
{
	display: flex;
	justify-content: center;
}
.flex3
{
	display: flex;
	border: solid;
	align-item: end;
}
.flex4
{
	display: flex;
	justify-content: space-between;
	border: solid;

}
.space
{
	margin: 20px;
}
.space2
{
	margin: 40px;
    font-size: 70px;
    font-family: "Peak"
}


body{
	background-image: url("imageA/fondAntoine.jpg");
	background-size: cover;
	background-position-x: initial;
	background-position-y: initial;
	background-repeat:initial ;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	color: white;
	
}	

#b1,#b2,#b3,#b4
{
	font-size: 300px;
}

@font-face {
    font-family: "JungleAdventurer";
    src: url('JungleAdventurer.ttf');
}
.solope{
	text-align: center;
}
p{
	color: rgb(255, 0, 242);
}