.flex
{
	display: flex;
	justify-content: space-between;
	border: solid;
	background-color: grey;
	border-color: white;

}
.space
{
	margin: 20px;
	
}

.exp{
	display:flex;
	flex-direction: row;
}
a:visited
{
	color: white;
}

body{
	font-family: Montserrat, sans-serif;
	text-align: justify;
	background-image: url("./fond_smash.png");
}
#music{
    display:none;
}
