.flex
{
	display: flex;
	justify-content: space-between;
	border: solid;
	font-size: 40px;
}
.flex2
{
	display: flex;
	justify-content: center;
}
.flex3
{
	display: flex;
	border: solid;
	align-item: end;
}
.flex4
{
	display: flex;
	justify-content: space-between;
	border: solid;

}
.space
{
	margin: 20px;
}
.space2
{
	margin: 40px;
    font-size: 40px;
    font-family: "Trebuchet MS", Verdana, Geneva, Arial;
}
body
{
	background-image: url("fondAntoine.jpg");
	color: white;
}
#b1,#b2,#b3,#b4
{
	font-size: 300px;
}